{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
<!DOCTYPE html>
<html>
    <head>
        {# Bureau standard left-column template #}
        {# author: adevans / AMDISS peeps. Twig'd and HTML5'd by jtemplet #}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="language" content="english" />
        <title>{% block title %}Defence CMS{% endblock %}</title>
        <link rel="Schema.AGLS" href="http://www.naa.gov.au/recordkeeping/gov_online/agls/1.2" />
        <meta name="DC.Publisher" content="corporateName=Bureau of Meteorology" />
        <meta name="DC.Format" content="text/html" />
        <meta name="DC.Coverage.jurisdiction" content="Commonwealth of Australia" />
        <meta name="DC.Rights" scheme="URI" content="http://www.bom.gov.au/other/copyright.shtml" />
        <meta name="DC.Language" scheme="RFC1766" content="en" />
        <meta name="AGLS.Audience" scheme="BoM_audience list" content="All" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/css/core.css" />
        <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/css/core-ie.css" /><![endif]-->

        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('bundles/cmsshared/css/default.css') }}" />     
           <link rel="stylesheet" href="{{ asset('bundles/cmsshared/fonts/entypo.css') }}" />            
           
            {% stylesheets filter='yui_css'
                '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
                '@CMSSharedBundle/Resources/public/less/backend.less' %}
                <link rel="stylesheet" href="{{ asset_url }}" />                 
            {% endstylesheets %}         
        {% endblock %}                  

        <script type="text/javascript" src="/scripts/utilities.js"></script>
        <script type="text/javascript" src="/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/libs/jquery/external/plugins/superfish/1.4.8/superfish.js"></script>
        <script type="text/javascript" src="/libs/jquery/external/plugins/superfish/1.4.8/hoverIntent.js"></script>
        <script type="text/javascript" src="/scripts/header-menus.js"></script>                
        
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        <ul id="jumplinks">
            <li><a href="#content">Skip to main content</a></li>
        </ul>

        <!-- Start: PageHeight -->
        <div id="pageheight" class="container-fluid">
            <div id="pagewrap">
                {% block content %}
                {{ content|raw }}
                {% endblock %}        
            </div>
        </div>
        <!-- End: PageHeight -->
        
  {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
    {% javascripts filter='closure,?yui_js'        
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

        </body>
    </html>