<!DOCTYPE html>
<html>
    <head>
        {# Bureau standard left-column template #}
        {# author: adevans / AMDISS peeps. Twig'd and HTML5'd by jtemplet #}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="language" content="english" />
        <title>{% block title %}Defence CMS{% endblock %}</title>
        <link rel="Schema.AGLS" href="http://www.naa.gov.au/recordkeeping/gov_online/agls/1.2" />
        <meta name="DC.Publisher" content="corporateName=Bureau of Meteorology" />
        <meta name="DC.Format" content="text/html" />
        <meta name="DC.Coverage.jurisdiction" content="Commonwealth of Australia" />
        <meta name="DC.Rights" scheme="URI" content="http://www.bom.gov.au/other/copyright.shtml" />
        <meta name="DC.Language" scheme="RFC1766" content="en" />
        <meta name="AGLS.Audience" scheme="BoM_audience list" content="All" />
        <link rel="stylesheet" type="text/css" href="/css/core.css" />
        <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/css/core-ie.css" /><![endif]-->
        <script type="text/javascript" src="/scripts/utilities.js"></script>
        <script type="text/javascript" src="/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/libs/jquery/external/plugins/superfish/1.4.8/superfish.js"></script>
        <script type="text/javascript" src="/libs/jquery/external/plugins/superfish/1.4.8/hoverIntent.js"></script>
        <script type="text/javascript" src="/scripts/header-menus.js"></script>
        {% block scripts %}
           <link rel="stylesheet" href="{{ asset('bundles/cmsshared/css/default.css') }}" />     
           <link rel="stylesheet" href="{{ asset('bundles/cmsshared/fonts/entypo.css') }}" />            
        {% endblock %}                  
        
        
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('bundles/cmsshared/css/default.css') }}" />     
           <link rel="stylesheet" href="{{ asset('bundles/cmsshared/fonts/entypo.css') }}" />            
           
        {% stylesheets 
            '@CMSSharedBundle/Resources/public/less/*.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />                 
        {% endstylesheets %}         
        {% endblock %}                  
            
        
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        <ul id="jumplinks">
            <li><a href="#content">Skip to main content</a></li>
        </ul>

        <!-- Start: PageHeight -->
        <div id="pageheight">
            <div id="pagewrap">
                {% block content %}
                {{ content|raw }}
                {% endblock %}        
            </div>
        </div>
        <!-- End: PageHeight -->
        
        </body>
    </html>