{# src/CMS/PageBundle/Resources/views/Default/renderPage.html.twig #}
{# author: jtemplet #}
{# This is a wrapper template. Containers do the real work, using their layouts and templates and so on. #}

<!DOCTYPE html>
<html>
    <head>
        {# Bureau standard left-column template #}
        {# author: adevans / AMDISS peeps. Bootstrap'd, HTML5'd and Twig'd by jtemplet #}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="language" content="english" />
        <title>{% block title %}Defence CMS{% endblock %}</title>
        
        <link rel="Schema.AGLS" href="http://www.naa.gov.au/recordkeeping/gov_online/agls/1.2" />
        <meta name="DC.Publisher" content="corporateName=Bureau of Meteorology" />
        <meta name="DC.Format" content="text/html" />
        <meta name="DC.Coverage.jurisdiction" content="Commonwealth of Australia" />
        <meta name="DC.Rights" scheme="URI" content="http://www.bom.gov.au/other/copyright.shtml" />
        <meta name="DC.Language" scheme="RFC1766" content="en" />
        <meta name="AGLS.Audience" scheme="BoM_audience list" content="All" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#<link rel="stylesheet" type="text/css" href="{{ asset("bundles/cmsshared/css/bureau-core.css") }}" /> #}
        {#[if lte IE 7]><link rel="stylesheet" type="text/css" href="/css/core-ie.css" /><![endif]#}

        {# le styles #}
        {% block stylesheets %}        
        <link rel="stylesheet" href="{{ asset('bundles/cmsshared/fonts/entypo.css') }}" />            
        <link rel="stylesheet" href="{{ asset('bundles/cmspage/js/aloha/css/aloha.css') }}" />                    
        <link rel="stylesheet" href="{{ asset('bundles/cmsshared/fonts/blokk/blokk.css') }}" />                    

        {% stylesheets filter='?yui_css' output='css/compiled/main.css'                                     
            '@CMSPageBundle/Resources/public/less/core.less'
        %}
        
        <link rel="stylesheet" href="{{ asset_url }}" />                 
        {% endstylesheets %}         
        {% endblock stylesheets %}        
       
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        <section            
            id="{{ rootblock.name|lower|replace({' ': '_'}) }}{{ rootblock.id }}"
            cms-page="true"
            cms-block="true"
            cms-root-block="true"
            cms-block-id="{{ rootblock.id }}"
            cms-block-name="{{ rootblock.name|lower|replace({' ': '_'}) }}"    
            cms-block-type="Root"            
        >    
            <div class="block-content" cms-content-for="{{ rootblock.name|lower|replace({' ': '_'}) }}{{ rootblock.id }}"> 
                {% block content %}
                {{ content|raw }}
                {% endblock content %}
            </div>
        </section>
        
</body>
</html>
