{# src/CMS/PageBundle/Resources/views/Default/renderPage.html.twig #}
{# author: jtemplet #}
{# This is a wrapper template. Containers do the real work, using their layouts and templates and so on. #}

<!DOCTYPE html>
<html>
    <head>
        {# Bureau standard left-column template #}
        {# author: adevans / AMDISS peeps. Bootstrap'd, HTML5'd and Twig'd by jtemplet #}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="language" content="english" />
        <title>{% block title %}Defence CMS{% endblock %}</title>
        
        <link rel="Schema.AGLS" href="http://www.naa.gov.au/recordkeeping/gov_online/agls/1.2" />
        <meta name="DC.Publisher" content="corporateName=Bureau of Meteorology" />
        <meta name="DC.Format" content="text/html" />
        <meta name="DC.Coverage.jurisdiction" content="Commonwealth of Australia" />
        <meta name="DC.Rights" scheme="URI" content="http://www.bom.gov.au/other/copyright.shtml" />
        <meta name="DC.Language" scheme="RFC1766" content="en" />
        <meta name="AGLS.Audience" scheme="BoM_audience list" content="All" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#<link rel="stylesheet" type="text/css" href="{{ asset("bundles/cmsshared/css/bureau-core.css") }}" /> #}
        {#[if lte IE 7]><link rel="stylesheet" type="text/css" href="/css/core-ie.css" /><![endif]#}

        {# le styles #}
        {% block stylesheets %}        
        <link rel="stylesheet" href="{{ asset('bundles/cmsshared/fonts/entypo.css') }}" />            
        <link rel="stylesheet" href="{{ asset('bundles/cmspage/js/aloha/css/aloha.css') }}" />                    
        <link rel="stylesheet" href="{{ asset('bundles/cmsshared/fonts/blokk/blokk.css') }}" />                    
        <link rel="stylesheet" href="{{ asset('bundles/cmspage/css/bureau-new-homepage.css') }}" />            

        {% stylesheets filter='?yui_css' output='css/compiled/main.css'                                     
            '@CMSPageBundle/Resources/public/less/core.less'
        %}
        
        <link rel="stylesheet" href="{{ asset_url }}" />                 
        {% endstylesheets %}         
        {% endblock stylesheets %}        
       
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        <section            
            id="{{ rootblock.name|lower|replace({' ': '_'}) }}{{ rootblock.id }}"
            cms-page="true"
            cms-block="true"
            cms-root-block="true"
            cms-block-id="{{ rootblock.id }}"
            cms-block-name="{{ rootblock.name|lower|replace({' ': '_'}) }}"    
            cms-block-type="Root"            
        >    
            <div class="block-content" cms-content-for="{{ rootblock.name|lower|replace({' ': '_'}) }}{{ rootblock.id }}"> 
                {% block content %}
                {{ content|raw }}
                {% endblock content %}
            </div>
        </section>


        
               {#Le javascript
        ================================================== #}
        {#Placed at the end of the document so the pages load faster #}
        <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>               
        
    {% javascripts filter="?closure" output="js/compiled/defence.js"    
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-transition.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-modal.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-dropdown.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-scrollspy.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-tab.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-tooltip.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-popover.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-alert.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-button.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-collapse.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-carousel.js'
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-typeahead.js'  
        '@CMSPageBundle/Resources/public/js/bootstrap/bootstrap-affix.js'          
        '@CMSPageBundle/Resources/public/js/holder.js'       
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>        
    {% endjavascripts %}                
        
    
    {% javascripts filter="?closure" output="js/compiled/cmspage-backbone.js"                          
        '@CMSPageBundle/Resources/public/js/backbone/underscore.js'
        '@CMSPageBundle/Resources/public/js/backbone/backbone.js'
        '@CMSPageBundle/Resources/public/js/backbone/backbone.localStorage.js'
        '@CMSPageBundle/Resources/public/js/backbone/backbone.associate.js'
        '@CMSPageBundle/Resources/public/js/backbone/forms/backbone-forms.js'
        '@CMSPageBundle/Resources/public/js/backbone/forms/templates/bootstrap.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}                

    
    {# add the toolbars and modal skeletons, interactive editing javascript stuff, etc #}

        {% include 'CMSPageBundle:Default:interactiveEditExtras.html.twig' %}
        
        <section id="block-templates" class="hidden">
            {# lack of wildcard importing in twig (understandably) prevents this from beng neater. TODO: consider loading these in a seperate include #}
            {% include 'CMSPageBundle:Default:blockTemplates/root.html.twig' %}        
            {% include 'CMSPageBundle:Default:blockTemplates/layout.html.twig' %}        
            {% include 'CMSPageBundle:Default:blockTemplates/html.html.twig' %}                   
        </section>
                        
        {% javascripts filter="?closure" output="js/compiled/cmspage-frontend.js"                          
            '@CMSPageBundle/Resources/public/js/toolbar/jquery.toolbar.js'
            '@CMSPageBundle/Resources/public/js/models/*'
            '@CMSPageBundle/Resources/public/js/views/*'
            '@CMSPageBundle/Resources/public/js/collections/*'
            '@CMSPageBundle/Resources/public/js/page-ui.js'
            '@CMSPageBundle/Resources/public/js/page-storage.js'
            '@CMSPageBundle/Resources/public/js/page-rest.js'
            '@CMSPageBundle/Resources/public/js/page-blocks.js'
            '@CMSPageBundle/Resources/public/js/page-debug.js'
            '@CMSPageBundle/Resources/public/js/page-core.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}                
        
        <script type="text/javascript">
            // get environment/debug state and initialise CMSPageCore.
            var CMS_ENVIRONMENT  = '{{ app.environment }}';
            var CMS_DEBUG_STATE = '{{ app.debug }}';
            

            CMSPageCore.init();
        </script>                       
            
</body>
</html>
